---
layout: page
permalink: /archive.html
title : Archive
regenerate: true
---

<p>Also in <a href="{{ site.baseurl }}/archive.csv">CSV format</a>.</p>

<section id="archive">{% assign posts = site.posts | where: "draft", false %}
  <h3>So far this year</h3>{%for post in posts %}{% unless post.next %}
    <ul class="this">{% else %}{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}{% if year != nyear %}
    </ul>
  <h3>{{ post.date | date: '%Y' }}</h3>
    <ul class="past">{% endif %}{% endunless %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{% if post.rafagas %} #{{ post.rid}}:{% for rafaga in post.rafagas %} {% if rafaga.invalid %}<span class="invalid-rafaga">{{rafaga.keyw | downcase}}</span> {% else %}{{rafaga.keyw | downcase}}{% endif %}{% unless forloop.last %},{% endunless %}{% endfor %}{% else %}{{ post.title }}{% endif %}</a></li>{% endfor %}
    </ul>
</section>