---
layout: default
title: Home
permalink: /
regenerate: true
---

{% assign posts = site.posts | where: "draft", false %}

<div class="posts">
  {% for post in posts limit:25 %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {% if post.rafagas %}
          #{{ post.rid}}:
          {% for rafaga in post.rafagas %}
          {{rafaga.keyw | downcase}}{% unless forloop.last %}, {% endunless %}
          {% endfor %}
        {% else %}
          {{ post.title }}
        {% endif %}
      </a>
    </h1>

    <p class="post-date">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%a, %d %b %Y" }}</time>
      by {{post.author}}
    </p>
    {% if post.rafagas %}
    <ul>
      {% for rafaga in post.rafagas %}
      <li {%if rafaga.invalid %}style="text-decoration:line-through"{% endif %}>
          {{rafaga.desc}}  {% if rafaga.via %}via {{rafaga.via}}{% endif %}
          {% if rafaga.lang %}[{{rafaga.lang | upcase}}]{% endif %}
          <br>
          {% unless rafaga.invalid %}<span class="rafaga-li"><a href="{{rafaga.link}}" {%if rafaga.nocheck %}data-proofer-ignore{% endif %}>{% endunless %}
          {{rafaga.link}}
          {% unless rafaga.invalid %}</a></span>{% endunless %}
        </li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="{% if post.rafagas %}rafaga-content{% endif %}">{{ post.content }}</div>

    <p>{{post.author}}</p>
  </article>
  {% endfor %}
</div>

<p>For older posts check the <a href="{{ site.baseurl }}/archive.html">archives</a>.</p>
