__pycache__
_site

.brokdb
.DS_Store
.jekyll-metadata
.sass-cache
.vscode/*

*.pyc
*.swp

*template.md
00_to_process.md

crawl
crawl_sites

errors.log
FIXME.txt
Gemfile.lock
script/.ipynb_checkpoints
tmp/
vendor
