{% if site.search %}
<pagefind-config bundle-path="{{ site.baseurl }}/pagefind/" highlight-param="highlight"></pagefind-config>
<pagefind-modal>
  <pagefind-modal-header>
    <pagefind-input></pagefind-input>
  </pagefind-modal-header>
  <pagefind-modal-body>
    <pagefind-summary></pagefind-summary>
    <pagefind-results sort='{"date": "desc"}'>
      <script type="text/pagefind-template">
        {% raw %}<li>
          <div class="pf-result-card">
            <div class="pf-result-content">
              <p class="pf-result-title">
                <a class="pf-result-link" href="{{ url }}">{{#if meta.date}}{{ meta.date }} - {{/if}}{{#if meta.rid}}#{{ meta.rid }}{{/if}}</a>
              </p>
              <p class="pf-result-excerpt">{{+ excerpt +}}</p>
            </div>
          </div>
        </li>{% endraw %}
      </script>
    </pagefind-results>
  </pagefind-modal-body>
  <pagefind-modal-footer>
    <pagefind-keyboard-hints></pagefind-keyboard-hints>
  </pagefind-modal-footer>
</pagefind-modal>
{% endif %}
