<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  {% seo %}
  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>

        <span class="links">
          <ul>
            <li><a href="https://geomaticblog.net/2017/02/14/how-a-daily-digest-of-geospatial-links-is-distributed/">
              About</a></li>
            <li><a href="{{ site.baseurl }}/archive.html">
              Archive
            </a></li>
            <li><a href="https://twitter.com/rafagaslinks">
              Twitter
              </a></li>
            <li><a rel="me" href="https://en.osm.town/@rafagaslinks">
              Mastodon</a>
              </li>
            </a></li>
            <li><a href="{{ site.baseurl }}/atom.xml">
              Feed
              </a></li>
            <li><a href="{{ site.baseurl }}/atomic_atom.xml">
              Link Feed
              <li><a href="https://lists.osgeo.org/mailman/listinfo/rafagas">
              Email
              </a></li>
            <li><a href="https://github.com/geoinquiets/rafagas">
              GitHub
              </a></li>
            <li><a href="https://geoinquiets.github.io/linksgeo/">
              Raf
              </a></li>
              
          </ul>
        </span>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>
    <script src="https://unpkg.com/quicklink"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function(){
          quicklink();
      });
    </script>
  </body>
</html>
